body{
    font-family: 'Courier New', Courier, monospace;
}

figcaption{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

figure{
    border: 1px solid black;
    padding: 20px;
    width: 280px;
    height: 300px;
    cursor: pointer;
    float: left;
}

figure img {
    width: 250px;
    height: 250px;
    transition: 0.3s;
}

figure:hover img{
    transform: scale(1.05) rotate(5deg);
}